
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

  
bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.conf-navbar {
    background-color: #292B4D;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    height: 25%;
}

.logo {
    align: center;
}

.texto-logo {
    padding-left: 5px;
    size: 18px;
}