<div class="container backgroundStyle">
    <div class="row col-sm-12 mt-5">
       <div class="ml-2 col-8" appearance="outline">
           <img src="../../assets/img/assistant.png" alt="assistant"/>
       </div>
        <div class="ml-5 col-2" appearance="outline">
            <img src="../../assets/img/sound.png" class=" bd-highlight" alt="sound"/>
        </div>
    </div>
    <div class="row col-sm-12 mt-4 pl-4">
        <div class="ml-2 mt-2 col-12 dialogStyle">
            <div>
                <div class="mt-2">
                    <p class="textFontTitle"><b>Eai camarada</b></p>
                    <p class="textFont">Como gostaria de ser chamado?</p>
                </div>
                <div class="col-12 mt-4">
                    <input class="inputStyle" type="text" name="name" />
                </div>
            </div>
        </div>
    </div>
</div>
