<div class="container backgroundStyle">
    <div class="row col-sm-12 mt-5">
       <div class="ml-2 col-8" appearance="outline">
           <img src="../../assets/img/assistant.png" alt="assistant"/>
       </div>
        <div class="ml-4 col-2" appearance="outline">
            <img src="../../assets/img/sound.png" class=" bd-highlight" alt="sound"/>
        </div>
    </div>
    <div class="row col-sm-10 mt-4 pl-4">
        <div class="ml-2 mt-2 col-11 dialogStyle">
            <div class="mt-2">
                <p class="textFontTitle"><b>Eai camarada</b></p>
                <p class="textFont">Como gostaria de ser chamado?</p>
            </div>
        </div>
        <div class="row col-12 mt-6 pt-3 pl-4">
            <input class="inputStyle" type="text" name="name" />
        </div>
        <div class="row col-12 pt-3">
            <div class="col-11 mt-5">
                <button class="buttonContinue">Continuar</button>
            </div>
            <div class="col mt-12" appearance="outline">
                <img src="../../assets/img/microphone.png" alt="assistant"/>
            </div>
        </div>
    </div>
</div>
