<div class="container backgroundStyle">
    <div class="row col-sm-12 mt-5">
        <div class="ml-2 col-8" appearance="outline" *ngIf="!step1">
            <img src="../../assets/img/return.png" alt="return"/>
        </div>
       <div class="ml-2 mt-4 col-8" appearance="outline">
           <img src="../../assets/img/assistant.png" alt="assistant"/>
       </div>
        <div class="ml-5 col-2" appearance="outline">
            <img src="../../assets/img/sound.png" class=" bd-highlight" alt="sound"/>
        </div>
    </div>
    <div class="row col-sm-12 mt-4 pl-4" *ngIf="!!step1">
        <div class="ml-2 mt-2 col-12 dialogStyle">
            <div class="mt-2">
                <p class="textFontTitle"><b>Eai camarada</b></p>
                <p class="textFont">Como gostaria de ser chamado?</p>
            </div>
        </div>
        <div class="row col-12 mt-4 pt-2 ml-1">
            <input class="inputStyle" type="text" name="nameTrucker" />
        </div>
    </div>
    <div class="row col-sm-12 mt-4 pl-4" *ngIf="!!step2">
        <div class="ml-2 mt-2 col-sm-12 dialogStyle">
            <div class="mt-2">
                <p class="textFontTitle"><b>Certo, Jânio</b></p>
                <p class="textFont">Qual sua idade?</p>
            </div>
        </div>
        <div class="row col-12 mt-4 pl-4 delimiterRetangle">
            <div class="retangle col-5 ml-3" appearance="outline">
                <p class="textRetangule"><b>18 - 22 </b></p>
            </div>
            <div class="retangle col-5 ml-4" appearance="outline">
                <p class="textRetangule"><b>27 - 36 </b></p>
            </div>
        </div>
        <div  class="row col-12 mt-2 pl-4 delimiterRetangle">
            <div class="retangle col-5  ml-3" appearance="outline">
                <p class="textRetangule"><b>37 - 56 </b></p>
            </div>
            <div class="retangle col-5 ml-4" appearance="outline">
                <p class="textRetangule"><b>56 + </b></p>
            </div>
        </div>
        
    </div>
    <div class="row col-sm-12 mt-4 pl-4" *ngIf="!!step3">
        <div class="ml-2 mt-2 col-12 dialogStyle">
            <div class="mt-2">
                <p class="textFontTitle"><b>Beleza!</b></p>
                <p class="textFont">Você trabalha de carteira assinada ou autônomo?</p>
            </div>
        </div>
        <div class="row col-sm-12 mt-4 ml-5 delimiterRetangle">
            <div class="retangle col-10  pt-2" appearance="outline">
                <p class="textRetangule"><b>Carteira assinada </b></p>
            </div>
        </div>
        <div class="row col-sm-12 mt-2 ml-4 delimiterRetangle">
            <div class="retangle col-6  pt-2" appearance="outline">
                <p class="textRetangule"><b>Autônomo </b></p>
            </div>
            <div class="retangle col-5 pt-2 ml-2" appearance="outline">
                <p class="textRetangule"><b>Os dois </b></p>
            </div>
        </div>
    </div>
    <div class="row col-sm-12 mt-4 pl-4" *ngIf="!!step4">
        <div class="ml-2 mt-2 col-12 dialogStyle">
            <div class="mt-2">
                <p class="textFontTitle"><b>Falta pouco</b></p>
                <p class="textFont">Quanto tempo você tem de estrada?</p>
            </div>
        </div>
        <div class="row col-sm-12 mt-4 ml-5 delimiterRetangle">
            <div class="retangle col-7  pt-2 paddingRetangleSmall" appearance="outline">
                <p class="textRetangule"><b>1 a 10 anos</b></p>
            </div>
        </div>
        <div class="row col-sm-12 mt-2 ml-5 delimiterRetangle">
            <div class="retangle col-8  pt-2 paddingRetangle" appearance="outline">
                <p class="textRetangule"><b>11 a 20 anos</b></p>
            </div>
        </div>
        <div class="row col-sm-12 mt-2 ml-5 delimiterRetangle">
            <div class="retangle col-10 pt-2" appearance="outline">
                <p class="textRetangule"><b>Mais de 20 anos</b></p>
            </div>
        </div>
    </div>
    <div class="row col-sm-12 mt-4 pl-4" *ngIf="!!step5">
        <div class="ml-2 mt-2 col-12 dialogStyle">
            <div class="mt-2">
                <p class="textFontTitle"><b>Agora me diz</b></p>
                <p class="textFont">Possui algum problema de saúde?</p>
            </div>
        </div>
        <div class="row col-12 mt-4  delimiterRetangle">
            <div class="retangle col-6 ml-3 pt-2" appearance="outline">
                <p class="textRetangule"><b>Hipertensão </b></p>
                </div>
                <div class="retangle col-5 ml-2 pt-2" appearance="outline">
                    <p class="textRetangule"><b>Diabetes </b></p>
                </div>
            </div>
            <div class="row col-12 mt-2  ml-3  delimiterRetangle">
                <div class="retangle col-8 pt-2" appearance="outline">
                    <p class="textRetangule"><b>Hérnia de disco </b></p>
                </div>
                <div class="retangle col-4 pt-2" appearance="outline">
                    <p class="textRetangule"><b>Visão </b></p>
                </div>
            </div>
            <div class="row col-12 mt-2 delimiterRetangle">
                <div class="retangle col-6  pt-2" appearance="outline">
                    <p class="textRetangule"><b>Cardíaco </b></p>
                </div>
                <div class="retangle col-5 pt-2" appearance="outline">
                    <p class="textRetangule"><b>Nenhum </b></p>
            </div>
        </div>
    </div>
    <div class="row col-sm-12 mt-4 pl-4" *ngIf="!!step6">
        <div class="ml-2 mt-2 col-12 dialogStyle">
            <div class="mt-2">
                <p class="textFontTitle"><b>Essa é a ultima</b></p>
                <p class="textFont">Você trabalha quantos dias por semana?</p>
            </div>
        </div>
        <div class="row col-12 mt-4 pt-2 ml-1">
            <input class="inputStyle" type="text" name="nameTrucker" />
        </div>
    </div>
</div>
<footer class="row col-12">
    <div class="col-10">
        <button class="buttonContinue textFont" (click)="nextStep()">Continuar</button>
    </div>
    <div class="col-2" appearance="outline">
        <img src="../../assets/img/microphone.png" alt="assistant"/>
    </div>
</footer>

