<div class="container" [ngClass]="(!!tutorial)?' disabled':'backgroundStyle'">
    <div class="row col-sm-12" >
        <div class="col-12 mt-5 textFontTitle">
            Olá Jânio
        </div>
        <div class="col-12 mt-3 textFont">
            Olha o que encontramos no seu caminho: 
        </div>
        <div  class="col-12">
            <img src="../../assets/img/track1.png" alt="track1"/>
        </div>
    </div>
    <div class="row col-sm-12">
        <div class="col-12 mt-2 ml-2 stylePrimaryCard">
            <div class="col-12 mt-3 textTitleAlternative">
                <p><b>Barzinho da Cléo</b></p>
            </div>
            <div class="row col-sm-12">
                <div class="col-1 iconeProperty" appearance="outline">
                    <img src="../../assets/img/food.png" alt="food"/>
                </div>
                <div class="col-1 ml-2 iconeProperty" appearance="outline">
                    <img src="../../assets/img/bath.png" alt="food"/>
                </div>
                <div class="col-1 iconeProperty" appearance="outline">
                    <img src="../../assets/img/toailet.png" alt="food"/>
                </div>
                <div class="col-8" appearance="outline">
                    <div class="col alingItensRight d-flex justify-content-end">
                        <p class="textFormat">1,6km de distancia</p>
                    </div>
                    <div class="col alingItensRight d-flex justify-content-end">
                        <p class="paddingText">+10 paradas</p>
                    </div>
                </div>  
            </div>
            <div class="row col-sm-12 mt-2">
                <div class="col-12">
                    <img src="../../assets/img/card-image.png" alt="restaurant"/>
                </div>
            </div>
            <div class="row col-sm-12 mt-3">
                <div class="col-2">
                    <img src="../../assets/img/like.png" alt="like"/>
                </div>
                <div class="col-8 ml-2 styleSnippet">
                    <p class="styleSnippetText">Dica dos camaradas</p>
                </div>
            </div>
        </div>
        <div class="row col-sm-10 styleOutSnippet">
            <div class="col-5 mt-5 ml-2 styleSnippetSecond" appearance="outline">
                <p class="styleSnippetTextSecondary mt-1">Dica do lino</p>
            </div>
            <div class="col mt-5 ml-4" appearance="outline">
                <p class="textColor">Bem-estar na...</p>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12 footerStyle">
    <div class="col-12 headerFooter">
        <div class="col">
            <p class="styleFontHeader"> Whatsapp</p>
        </div>
        <div class="col-1 alingAssistant mt-4" appearance="outline">
            <img src="../../assets/img/retangle.png" class="mt-3" alt="retangle"/>
        </div>
    </div>
    <div class="row col-sm-12 mt-2">
        <div class="col-1 alingAssistant mt-4" appearance="outline">
            <img src="../../assets/img/assistant.png" class="mt-3" alt="assistant"/>
        </div>
        <div class="col-8" appearance="outline">
            <div class="col ml-4">
                <p class="styleTextFooter">Lino</p>
            </div>
            <div class="col ml-4">
                <p class="styleTextFooterDescription">Assistente disponível</p>
            </div>
        </div>  
    </div>
    <div class="row col-sm-12 alingTutorial" *ngIf="!!tutorial">
        <div class="col-12 mt-2 ml-2 styleTutorialyCard">
            <div>
                <div class="col" appearance="outline">
                  <img src="../../assets/img/assistant.png" class="mt-3" alt="assistant"/>
                </div>
                <div class="col alingTutorialText">
                  <p class="styleTextTitle"><b>Eai Jânio, beleza?</b></p>
              </div>
            </div>
            <div>
                <div class="col">
                    <img src="../../assets/img/sound.png" class="mt-3" alt="assistant"/>
                </div>
                <div class="col alingTutorialSubText">
                    <p class="styleSubTitle"><b>Passando aqui para te ensinar <br> um pouco sobre a nossa solução.</b></p>
                </div>
            </div>
    </div>
    <div class="col-sm-12">
        <div class="col-10 ml-4 alingButtonTutorial">
            <button class="styleButtomTutorial pt-2">Próximo</button>
        </div>
        <div class="col-10 alingNotSeeTutorial">
            <p class="pt-3 textColor" (click)="notSee()">Não quero ver</p>
        </div>
    </div>
</div>
</div>
