<div class="container backgroundStyle">
    <div class="row col-sm-12">
        <div class="col-12 alingLogo mt-5">
            <img src="../../assets/img/logo.png" alt="logo"/>
        </div>
        <div class="col-12 alingText mt-3">
           <p class="styleTextTitle">Placa</p>
        </div>
        <div class="col-12 ml-4 mt-3">
            <img src="../../assets/img/home.png" alt="home"/>
        </div>
    </div>
    <div class="row col-sm-12">
        <div class="col-12 mt-4 styleDialog">
            <p class="textDialog mt-2"><b>Seja bem-vindo ao seu novo canal de comunicação com os parceiros de estrada.
                Eu sou o Lino e vou seguir viagem com você. </b></p>
        </div>
    </div>
    <div class="row col-sm-12">
        <div class="col-10 ml-4 alingButton">
            <button (click)="getAssessment()" class="styleButton pt-2" >Próximo</button>
        </div>
    </div>
</div>

