
<app-navbar></app-navbar>
<div class="background">
    <br/>
    <div>
        <img width="100%" style="height: 15em" class="img img-responsive" src="../../assets/img/caminhao.jpeg"/>
    </div>
    <br />
    <div class="container">
        <p style="font-size: 24px" class="texto-balao text-center">O <span style="font-weight: bolder">aplicativo Placa</span> vai ser o seu companheiro de viagem, junto com nosso assitente Milton faremos você ter a melhoe experiência</p>
    </div>

    <br/>
    <div class="container background">
        <input style="max-width:40%;font-size: 24px" type="button" class="btn btn-secondary" value="Voltar">
        <input type="button" class="btn btn-warning" value="Próximo" (click)="getAssessment()" style="float: right; max-width: 40%; font-size: 24px">
    </div>
    <br/>
</div>  
